body{
    background-color: rgb(221, 230, 230);
    
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button{
    
   
    background-color: brown;
    color: white;
    padding:0.5rem;
    
    
}

